body {
    font-family: 'Yu Gothic', 'Meiryo', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

h1 {
    font-size: 56px;
    font-weight: 300;
    margin: 20px 0 0 40px;
}

.shop-info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.shop-left {
    width: 50%;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}

.item {
    font-size: 34px;
    margin-bottom: 28px;
}

.spacer {
    height: 40px;
}

.shop-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.shop1-image {
    width: 30%;
    text-align: center;
    margin-top: 120px;
    position: absolute;
    /* 横方向中央。 */
    left: 50%;
    /* 縦方向 少し上 (例: 40%) */
    top: 40%;
    /* 画像のど真ん中で位置あわせ */
    transform: translate(-50%, -50%);
    text-align: center;
}

.shop1-image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}